@charset "UTF-8";
/* 全局样式定义 */
$_border: 1px solid #d9d9d9;
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.mask-zIndex99 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #00000033;
}

.flex-justify-around {
  display: flex;
  justify-content: space-around;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.border-left {
  border-left: $_border;
}
.border-right {
  border-right: $_border;
}

.hover-shadow:hover {
  box-shadow: 0 4px 12px 0 #0000001a;
}

::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 8px;
  height: 8px;
  z-index: 0;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 6px;
  background-color: skyblue;
}
