/* 全局样式定义 */
:root {
  --border-light-color: #e4e7ed;
  --border-color: #d9d9d9;
}
.night-mode {
  --border-light-color: #404040;
  --border-color: #303030;
}
$borderLightColor: var(--border-light-color);
$borderColor: var(--border-light-color);
$_border_light: 1px solid $borderLightColor;
$_border: 1px solid $borderColor;
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.mask-zIndex99 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: #00000033;
}

.flex-justify-around {
  display: flex;
  justify-content: space-around;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.border-left {
  border-left: $_border;
}
.border-right {
  border-right: $_border;
}
.border-bottom {
  border-bottom: $_border;
}
.border-bottom-light {
  border-bottom: $_border_light;
}

.hover-shadow:hover {
  box-shadow: 0 4px 12px 0 #0000001a;
}

::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #9093994d;
  border-radius: 2px;
  box-shadow: inset 0 0 6px #0003;
}
::-webkit-scrollbar-track {
  background-color: #0000000d;
}
