@import "./themes.scss";
:root {
  --el-color-primary: var(--systemThemeColor);
}
.el-button--default {
  --el-button-font-color: #ffffff;
  --el-button-background-color: var(--systemThemeColor);
  --el-button-border-color: var(--systemThemeColor);
  --el-button-hover-color: var(--systemThemeColor);
  --el-button-active-font-color: #e6e6e6;
  --el-button-active-background-color: var(
    --systemThemeColor
  );
  --el-button-active-border-color: var(--systemThemeColor);
  &:hover,
  &:focus {
    background-color: var(--systemThemeColor);
    color: #ffffff;
    border-color: var(--systemThemeColor);
  }
}
// ----------自定义switch----------
.custom-switch {
  --before-text: "\5f00";
  --after-text: "\5173";
  $beforeText: var(--before-text);
  $afterText: var(--after-text);
  .el-switch__core {
    position: relative;
  }
  &:not(.is-checked) .el-switch__core {
    &::after {
      content: $afterText;
      position: absolute;
      right: 5px;
      top: -2px;
      font-size: 12px;
      color: #fff;
    }
  }
  &.is-checked .el-switch__core {
    &::before {
      content: $beforeText;
      position: absolute;
      left: 5px;
      top: -1px;
      font-size: 12px;
      color: #fff;
    }
  }
}
// ----------END-----------

.night-mode {
  .el-drawer {
    --el-drawer-background-color: #151515;
  }
  .el-divider__text {
    background-color: inherit;
    color: inherit;
  }
}
