@import './themes.scss';
:root {
  --el-color-primary: var(--systemThemeColor);
}
.el-button--default {
  --el-button-font-color: #ffffff;
  --el-button-background-color: var(--systemThemeColor);
  --el-button-border-color: var(--systemThemeColor);
  --el-button-hover-color: var(--systemThemeColor);
  --el-button-active-font-color: #e6e6e6;
  --el-button-active-background-color: var(--systemThemeColor);
  --el-button-active-border-color: var(--systemThemeColor);
  &:hover,
  &:focus {
    background-color: var(--systemThemeColor);
    color: #ffffff;
    border-color: var(--systemThemeColor);
  }
}
// ----------自定义switch----------
.custom-switch {
  --before-text: '\5f00';
  --after-text: '\5173';
  $beforeText: var(--before-text);
  $afterText: var(--after-text);
  .el-switch__core {
    position: relative;
  }
  &:not(.is-checked) .el-switch__core {
    &::after {
      content: $afterText;
      position: absolute;
      right: 5px;
      top: -2px;
      font-size: 12px;
      color: #fff;
    }
  }
  &.is-checked .el-switch__core {
    &::before {
      content: $beforeText;
      position: absolute;
      left: 5px;
      top: -1px;
      font-size: 12px;
      color: #fff;
    }
  }
}
// ----------END-----------

// ----------自定义card----------
.el-card {
  --el-card-border-radius: 2px;
  --el-card-padding: 12px;
  .el-card__header {
    padding: 0 var(--el-card-padding);
    font-size: 0.875rem;
    min-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
// ----------END-----------
.el-row.justify-between {
  margin-left: var(--gutter) !important;
  margin-right: var(--gutter) !important;
}

.night-mode {
  $itemColor: #151515;
  .el-drawer {
    --el-drawer-background-color: #151515;
  }
  .el-divider__text {
    background-color: var(--el-drawer-background-color);
    color: inherit;
  }
  .el-switch__label:not(.is-active) {
    color: $navbarColor;
  }
  .el-card {
    background-color: $itemColor;
    color: $navbarColor;
  }
}
