@import './common.scss';
@import './themes.scss';
.test {
  background-color: $systemTheme;
}

#app {
  width: 100%;
  height: 100%;
}
.el-container {
  height: 100%;
}
.el-aside {
  height: inherit;
}
.el-logo {
  display: flex;
  align-items: center;
  height: $headerHeight;
  padding: 10px 4px 10px 16px;
  img {
    width: 32px;
    height: 32px;
  }
  span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
  }
}
.el-menu {
  height: inherit;
  background-color: $sidebarTheme;
  .el-menu-item {
    color: $sidebarColor;
    &:hover {
      background-color: inherit;
    }
    &.is-active {
      color: #ffffff;
      background-color: $systemTheme;
    }
  }
  .el-menu-item-group {
    background-color: $sidebarThemeGroup;
  }
  .el-submenu__title {
    color: $sidebarColor;
    &:hover {
      background-color: inherit;
    }
  }
}
.sidebar--white {
  $menu-color: #000000d9;
  .el-menu-item {
    color: $menu-color;
    &.is-active {
      background-color: #ffffff;
      color: $systemTheme;
    }
  }
  .el-submenu__title {
    color: $menu-color;
  }
  .el-menu-item-group {
    background-color: #ffffff;
  }
}

// ----------header----------
.el-header {
  height: $headerHeight;
  background-color: $navbarTheme;
  color: #ffffff;
  padding: 0;
  .header-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .header {
    padding: 0 6px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.has-logo {
      width: calc(100% - #{$logoWidth});
    }
  }
  .header-left {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .navbar-icon {
    width: 1em;
    height: 1em;
  }
}
.navbar--white {
  .el-header {
    color: #000000d9;
  }
}

// ----------main----------
.el-main {
  background-color: $contentBgColor;
}

.layout-type-2 {
  .el-logo {
    width: $logoWidth;
  }
}
.sidebar--white {
  .layout-type-1 {
    .el-logo {
      span {
        color: $systemTheme;
      }
    }
  }
}
.navbar--white {
  .layout-type-2 {
    .el-logo {
      span {
        color: $systemTheme;
      }
    }
  }
}

.layout-type-3 {
  .el-logo {
    width: $logoWidth;
    span {
      color: #ffffff;
    }
  }
  .navbar-icon._fold {
    display: none;
  }
  .el-menu {
    // background-color: #001529;
  }

  .el-menu--horizontal {
    background-color: transparent;
    border-bottom: none;
    &>.el-menu-item,
    &>.el-submenu .el-submenu__title {
      height: $headerHeight;
      line-height: $headerHeight;
      color: $sidebarColor;
      &:hover {
        color: #ffffff;
      }
    }
  //   .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover {
  //     background-color: #fff;
  // }
    &>.el-menu-item {
      border-bottom: none;
      &:hover {
        color: #ffffff;
        background-color: $sidebarThemeActive;
      }
      &.is-active {
        background-color: $sidebarThemeActive;
        color: #ffffff;
      }
    }
    &>.el-submenu{
      &.is-active {
        .el-submenu__title {
          color: #ffffff;
        }
      }
      .el-submenu__title {
        &:hover {
          background-color: $sidebarThemeActive;
        }
      }
    }
  }
}

// ----------drawer----------
.el-drawer__header {
  margin-bottom: 0;
  padding: $paddingWidth !important;
  border-bottom: $border;
  & > span {
    font-size: 16px;
    font-weight: 500;
  }
  .el-drawer__close-btn > i {
    font-size: 20px;
  }
}
.el-drawer__body {
  padding: $paddingWidth;
}

