@import './common.scss';
@import './themes.scss';
.test {
  background-color: $systemTheme;
}

#app {
  width: 100%;
  height: 100%;
}
.el-container {
  height: 100%;
}
.el-aside {
  height: inherit;
}
.el-logo {
  display: flex;
  align-items: center;
  height: $headerHeight;
  padding: 10px 4px 10px 16px;
  img {
    width: 32px;
    height: 32px;
  }
  span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin-left: 8px;
  }
}
.el-menu {
  height: inherit;
  background-color: $sidebarTheme;
  border-right: none;
  .el-menu-item {
    color: $sidebarColor;
    &:hover {
      background-color: inherit;
    }
    &.is-active {
      color: #ffffff;
      background-color: $systemTheme;
    }
  }
  .el-submenu {
    &.is-active {
      &>.el-submenu__title {
        color: #ffffff;
      }
    }
  }
  .el-menu-item-group {
    background-color: $sidebarThemeGroup;
  }
  .el-submenu__title {
    color: $sidebarColor;
    &:hover {
      background-color: inherit;
    }
  }
}
.sidebar--white {
  $menu-color: $navbarColor;
  .el-menu-item {
    color: $menu-color;
    &:hover {
      color: $systemTheme;
    }
    &.is-active {
      background-color:$systemThemeActive;
      color: $systemTheme;
      border-right: 2px solid $systemTheme;
    }
  }
  .el-submenu__title {
    color: $menu-color;
    &:hover {
      color: $systemTheme;
      i {
        color: inherit;
      }
    }
  }
  .el-menu-item-group {
    background-color: #ffffff;
  }
  .el-submenu{
    &.is-active {
      &>.el-submenu__title {
        color: $systemTheme;
      }
    }
  }
}

// ----------header----------
.el-header {
  height: $headerHeight;
  background-color: $navbarTheme;
  color: #ffffff;
  padding: 0;
  .header-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .header {
    padding: 0 6px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.has-logo {
      width: calc(100% - #{$logoWidth});
    }
  }
  .header-left {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .navbar-icon {
    width: 1em;
    height: 1em;
  }
}
.navbar--white {
  .el-header {
    color: $navbarColor;
  }
}

// ----------main----------
.el-main {
  background-color: $contentBgColor;
}

.sidebar--white {
  &.layout-type-1 {
    .el-logo {
      span {
        color: $systemTheme;
      }
    }
  }
}

.layout-type-2 {
  .el-logo {
    width: $logoWidth;
  }
  &.navbar--white {
    .el-logo {
      span {
        color: $systemTheme;
      }
    }
  }
}

.layout-type-3 {
  $_sidebarColor: #ffffffa6;
  .el-logo {
    width: $logoWidth;
    span {
      color: #ffffff;
    }
  }
  .navbar-icon._fold {
    display: none;
  }
  &:not(.navbar--white) .el-menu {
    .el-menu-item {
      background-color: inherit;
      color: $_sidebarColor;
      i {
        color: $_sidebarColor;
      }
      &:hover:not(.is-disabled):focus,
      &:hover:not(.is-disabled):hover {
        color: #ffffff;
      }
    }
    .el-submenu__title {
      background-color: inherit;
      color: $_sidebarColor;
      i {
        color: $_sidebarColor;
      }
      &:hover {
        color: #ffffff;
      }
    }
  }
  .el-menu--horizontal {
    background-color: transparent;
    border-bottom: none;
    &>.el-menu {
      background-color: $navbarColor;
      .el-submenu {
        background-color: inherit;
        &.is-active {
          .el-submenu__title {
            color: $systemTheme !important;
          }
        }
      }
    }
    &>.el-menu-item,
    &>.el-submenu .el-submenu__title {
      height: $headerHeight;
      line-height: $headerHeight;
      color: $sidebarColor;
      &:hover {
        color: #ffffff;
        i {
          color: #ffffff;
        }
      }
    }
    &>.el-menu-item {
      border-bottom: none;
      &:hover {
        color: #ffffff;
        background-color: $sidebarThemeActive;
        i {
          color: #ffffff;
        }
      }
      &.is-active {
        background-color: $sidebarThemeActive;
        color: #ffffff;
        i {
          color: #ffffff;
        }
      }
    }
    &>.el-submenu{
      &.is-active {
        .el-submenu__title {
          color: #ffffff;
          background-color: $sidebarThemeActive;
          border-bottom: none;
        }
      }
      .el-submenu__title {
        &:hover {
          background-color: $sidebarThemeActive;
        }
      }
    }
    .el-menu {
      .el-menu-item.is-active,
      .el-submenu.is-active>.el-submenu__title {
        color: #ffffff;
      }
      .el-menu-item.is-active {
        background-color: $systemTheme;
      }
    }
  }
  &.navbar--white {
    .el-menu--horizontal {
      .el-menu-item {
        &:hover {
          color: $systemTheme;
          i {
            color: inherit;
          }
        }
        &.is-active {
          color: $systemTheme;
          border-bottom: 2px solid $systemTheme;
          // background-color: $systemThemeActive;
          i {
            color: inherit;
          }
        }
      }
      &>.el-menu-item {
        color: $navbarColor;
      }
      &>.el-submenu {
        &.is-active {
          .el-submenu__title {
            color: $systemTheme;
            i {
              color: inherit;
            }
          }
        }
        .el-submenu__title {
          color: $navbarColor;
          &:hover {
            color: $systemTheme;
            i {
              color: inherit;
            }
          }
        }
      }
      .el-menu {
        background-color: #ffffff;
        .el-menu-item {
          &.is-active {
            background-color: $systemThemeActive;
            border-bottom: none;
          }
        }
        .el-submenu {
          &.is-active {
            .el-submenu__title {
              color: $systemTheme;
              i {
                color: inherit;
              }
            }
          }
        }
        &>.el-submenu {
          .el-submenu__title {
            &:hover {
              color: $systemTheme;
              i {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}

// ----------drawer----------
.el-drawer__header {
  margin-bottom: 0;
  padding: $paddingWidth !important;
  border-bottom: $border;
  & > span {
    font-size: 16px;
    font-weight: 500;
  }
  .el-drawer__close-btn > i {
    font-size: 20px;
  }
}
.el-drawer__body {
  padding: $paddingWidth;
}

