:root {
  --systemThemeColor: #0960bd;
  --navbarThemeColor: #ffffff;
  --sidebarThemeColor: #001529;
  --sidebarThemeColorActive: #0960bd;
  --sss: #001529;
}

$systemTheme: var(--systemThemeColor);
$navbarTheme: var(--navbarThemeColor);
$sidebarTheme: var(--sidebarThemeColor);
$sidebarThemeActive: var(--sidebarThemeColorActive);
$sidebarThemeGroup: #444b51;
$sidebarColor: #ffffffb3;

$contentBgColor: #f0f2f5;

$headerHeight: 48px;
$logoWidth: 200px;

// 边距
$marginWidth: 20px;
$paddingWidth: 20px;

// 边框
$border: 1px solid #f0f0f0;
